#tie-result {
  display: none;
}

#alaska-result {
  display: none;
}

#hawaii-result {
  display: none;
}

#vegas-result {
  display: none;
}

#error-result {
  display: none;
}

#reset {
  display: none;
}

img {
  width: 100%;
  border-radius: 10px;
}

body {
  background-color: #ffffcc;
}

button {
  margin: 10px;
}

.jumbotron {
  background-color: #ffcccc;
  margin: 10px;
  text-align: center;
}
